 h1 {
    margin: 0;
    padding: 20px 0;
    color: #C32C4D;
    text-shadow: 2px 2px 1px rgb(2, 55, 80);
    font-family: Fantasy, Arial, Helvetica, sans-serif;
 }

 img {
      display: block;
      margin: 0 auto;
 }

 body {
      width: 600px;
      margin: 0 auto;
      background-color:#dce5e6 ;
      padding: 3%;
 }

  #estilo {
      color: #C32C4D;
      text-shadow: 1px 1px 0px rgb(85, 80, 80);
 }

  #farbe {
      color:#C32C4D
 }

  #foto {
      float: left;
      padding: 10px;
      height: 280px;
      background-color: lightgray ;
 }

   .foto-container {
      height: 300px;
      position: relative;
 }

 div {
   border: 2px solid lightcoral;
 }

   .NancySchaal {
      font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
      text-align: center;
 }

   .descrição {
      font-family: Georgia, 'Times New Roman', Times, serif;
      position: absolute;
      top: 30%;
      right: 8%;
 }

 ul li :nth-last-child(odd) {
      background-color: lightgray;
   }